body {
    background-color: black !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 , h2 {
    font-size: 30px !important;
}

p {
    font-size: 18px !important;
}

#blurb-form {
    width: 90%;
    max-width: 1200px;
}

#blurb {
    margin-right: 5%;
}

#contact-form {
    background-color: gray !important;
    border: 1px solid gray;
    padding: 10px 20px 20px 20px;
    border-radius: 25px;
    align-self:center
}