:root {
    --gradient: linear-gradient(45deg,
    #6667ab,
    #9c57a1,
    #c5427f,
    #d73c4c,
    #cc5500);
}

body {
    background-color: black !important;
    color: white !important;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

h1,
h2 {
    font-size: 30px !important;
    font-weight: bolder !important;
}

h1 {
    padding: 10% 0 3% 0;
}

p {
    font-size: 24px !important;
    line-height: normal;
}

.brand-name, .email-name {
    font-weight: bold;
    font-style: italic;
    word-wrap: break-word;
}

#blurb-form {
    width: 90%;
    max-width: 1366px;
}

#blurb,
#contact-form {
    align-self: center
}

#blurb {
    margin-right: 5%;
}

.input-group-text,
button {
    background-color: lightgray !important;
    border-color: lightgray !important;
}

#contact-form {
    background-color: rgba(255, 255, 255, 10%) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 10%);
    margin-bottom: 25px;
    padding: 10px 20px 20px 20px;
    border-radius: 25px;
    filter: drop-shadow(2px 4px 6px black);
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
}

.input-group-text,
.form-control, #back-button {
    margin: 5px 0;
}

.form-control {
    border: 1px solid white !important;
}

.input-group-text {
    border-radius: 10px 0 0 10px !important;
}

button:hover, #back-button:hover{
    background-color: gold !important;
    border-color: gold !important;
    box-shadow: 0 0 8px rgba(255,255,0, 100%);
}

button:active, #back-button:active{
    background-color: orange !important;
    border-color: darkorange !important;
}
#thanks-text {
    width: 90%;
    max-width: 1280px;
    margin: 25px 0;
    padding: 25px 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid white !important;
    border-radius: 25px;
}

#thanks-box {
    margin: 15px 5px;
    text-align: center;
}

#thanks-msg {
padding: 0;
}